/* Custom styles for dark theme */
body {
    background-color: #f3f4f6;
    color: #1f2937;
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 20px 20px;
}

.container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: #2d3748;
    color: #e2e8f0;
}

th {
    background-color: #4a5568;
}

tr:nth-child(even) {
    background-color: #2d3748;
}

tr:nth-child(odd) {
    background-color: #374151;
}

select, input[type="text"], input[type="file"] {
    background-color: white;
    color: black;
    border-color: gainsboro;
}

select:focus, input[type="text"]:focus, input[type="file"]:focus {
    border-color: #63b3ed;
}

/* Ensure text is visible on blue buttons */
.bg-blue-600, .bg-blue-700 {
    color: #ffffff;
}

/* New styles for the updated design */
.bg-white {
    background-color: white;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.rounded-lg {
    border-radius: 0.5rem;
}

/* Custom file input styles */
.file-input-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #e5e7eb;
    color: #4b5563;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.file-input-label:hover {
    background-color: #d1d5db;
}
